<div class="container mx-auto p-8">
        <h1 class="text-4xl font-bold text-center text-blue-600 mb-8">Welcome to my eCommerce API Project</h1>
        
        <div class="flex flex-col items-center justify-center space-y-4">
            <a href="/products" class="w-64 text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded">
                Products
            </a>
            <a href="/carts/6577ad616076d24fea73553e" class="w-64 text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded">
                Carts
            </a>
            <a href="/realTimeProducts" class="w-64 text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded">
                Real Time Products
            </a>
            <a href="/chatApp" class="w-64 text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded">
                Chat App
            </a>
        </div>
    </div>